Flask==0.12.3
Flask-Gravatar==0.2.3
Flask-SQLAlchemy==0.15
Jinja2==2.11.3
PyYAML==5.4
SQLAlchemy==1.2.18
Werkzeug==0.15.3
feedformatter==0.4
feedparser==5.1.2
httplib2==0.19.0
wsgiref==0.1.2
psycopg2
